html {
  height: 100%;
}

body {
  background-color: #F1F3F6;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #333;
  text-align: center;
  margin: 100px;
  
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  text-align: center;
}

.container h1 {
  margin: 0 0 30px;
  color: #373737;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.userInput {
  margin-bottom: 30px;
}

.userInput input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  margin: 0 5px;
  border: 2px solid #5f5e5e;
  border-radius: 5px;
  outline: none;
  background: transparent;
}

.userInput input:focus {
  border-color: #ff7f50;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #ff7f50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #ff5722;
}

button:active {
  background-color: #03e9f4;
}

.error-message {
  color: rgb(239, 76, 76);
  font-size: 14px;
  display: block;
  position: absolute;
  bottom: calc(18%);
}

.register {
  color: #333;
  margin-top: 20px;
}

.register p {
  margin: 10px 0;
}

.register a {
  color: #ff7f50;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.register a:hover {
  color: #ff5722;
}

/* Full-page overlay */
.loader-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 249, 249);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

/* Loader spinner */
.loader {
  border: 8px solid #ff5722;
  border-top: 8px solid #FFFFFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}