<div class="addProduct">
    <div class="close-btn">&times;</div>
    <div class="form" id="formAdd">
        <h2>Add Product</h2>
        <form id="addProductForm" enctype="multipart/form-data">
            <div class="form-element">
                <% if (Array.isArray(error) && error.length > 0) { %>
                <label for="category">category Name</label>
                <p><%= error %></p>
                <% } %>
                <label for="productName">Product Name</label>
                <input type="text" id="Product" name="addProductName">

                <label for="categoryName">Category</label>
                <select id="category" name="categoryName">
                    <% categories.forEach(category => { %>
                        <option value="<%= category._id %>"><%= category.categoryName %></option>
                    <% }); %>
                </select>

                <label for="actualPrice">Actual Price</label>
                <input type="number" id="actualPrice" name="actualPrice">

                <label for="sellingPrice">Selling Price</label>
                <input type="number" id="sellingPrice" name="sellingPrice">

                <label for="stock">Stock</label>
                <input type="number" name="stock" id="stock">

                <label for="description">Description</label>
                <input type="text" id="description" name="description">

                <label for="addedDate">Added Date</label>
                <input type="date" id="addedDate" name="addedDate">
                <!-- image preview divs start -->
                 <div id="image-containerA">
                  <button type="button" id="imagePreviewCloseA" >&times;</button>
                  <img id="previewImageA" class="previewImageA" src="" alt="PreviewA" >
                 </div>

                 <div id="image-containerB">
                  <button type="button" id="imagePreviewCloseB" >&times;</button>
                  <img id="previewImageB" class="previewImageB" src="" alt="PreviewB" >
                 </div>

                 <div id="image-containerC">
                  <button type="button" id="imagePreviewCloseC" >&times;</button>
                  <img id="previewImageC" class="previewImageC" src="" alt="PreviewC" >
                 </div>
                 <!-- image preview divs end -->
                <div id="productNameError" class="error"></div> <!-- Error message container -->
                <small><%= locals.categoryError %></small>
                <input type="file" id="productImage" name="productImage" multiple accept="image/*">
                <div id="categoryImageError" class="error"></div> <!-- Error message container -->
            </div>
            <div class="form-element">
                <button id="submitBtn" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>