<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product Admin - Dashboard HTML Template</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <!-- https://fonts.google.com/specimen/Roboto -->
  <link rel="stylesheet" href="/admin/css/fontawesome.min.css">
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/admin/css/templatemo-style.css">
  <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    #chartFilter {
    width: 200px; /* Adjust the width */
    padding: 10px; /* Add padding */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Round the corners */
    background-color: #f9f9f9; /* Light background color */
    color: #333; /* Text color */
    font-size: 16px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    -webkit-appearance: none; /* Remove default appearance for better styling */
    -moz-appearance: none; /* Remove default appearance for better styling */
    appearance: none; /* Remove default appearance for better styling */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14l-4.796-4.796A.5.5 0 0 1 2.854 5H13.146a.5.5 0 0 1 .354.854l-4.796 4.796a.5.5 0 0 1-.707 0z"/></svg>');
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: right 10px top 50%; /* Position the image */
    background-size: 16px 16px; /* Size the image */
  }
  
  #chartFilter:focus {
    border-color: #007bff; /* Border color on focus */
    outline: none; /* Remove default outline */
  }
  </style>
</head>

<body>
  <div class="" id="home">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="index.html">
          <h1 class="tm-site-title mb-0">Product Admin</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link active" href="/admin/Dashboard">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
               <a class="nav-link dropdown-toggle" href="/admin/getSalesReport">
                <i class="far fa-file-alt"></i>
                Sales Report
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/getOrderManagement">
                <i class="fas fa-tasks"></i>
                Order Management
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/getProducts">
                <i class="fas fa-shopping-cart"></i>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/getCategory">
                <i class="fas fa-list-alt"></i>
                Categories
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/getAdminCoupons">
                <i class="fas fa-ticket-alt"></i>
                Coupons
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/getUserDetail">
                <i class="far fa-user"></i>
                Accounts
              </a>
            </li>
        
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <form action="/admin/postAdminLogout" method="post">
                <button type="submit"
                  style="border: none; background-color: transparent;color: white; margin-top: 25px;margin-left: 20px; font-size: 18px;">Logout</button>
              </form>
            </li>
          </ul>
        </div>
      </div>

    </nav>
    <h2>Dashboard</h2>
    <select id="chartFilter">
      <option value="yearly">Yearly</option>
      <option value="monthly">Monthly</option>
      <option value="weekly">Weekly</option>
      <option value="daily">Daily</option>
    </select>
    <div class="content col-md-10 col-lg-12">
      <div class="row">
        <div class="col-md-12 mb-4">
          <h2>Total Sales</h2>
          <div class="row">
            <div class="col-md-6" style="margin-top: 50px;">
              <canvas id="salesChart"></canvas>
            </div>
            <div class="col-md-6">
              <h2>Best Selling Products</h2>
              <canvas id="bestSellingProductsChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-3">
        <div class="col-md-4 mb-4">
          <h2>Best Selling Categories</h2>
          <canvas id="bestSellingCategoriesChart"></canvas>
        </div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var links = document.querySelectorAll('.sidebar ul li a');
        var activePage = localStorage.getItem('activePage');
    
        if (activePage) {
          links.forEach(function(link) {
            link.classList.remove('active');
          });
    
          var activeLink = document.querySelector('.sidebar ul li a[data-page="' + activePage + '"]');
          if (activeLink) {
            activeLink.classList.add('active');
          }
        }
    
        links.forEach(function(link) {
          link.addEventListener('click', function(event) {
            links.forEach(function(l) {
              l.classList.remove('active');
            });
            link.classList.add('active');
            localStorage.setItem('activePage', link.getAttribute('data-page'));
          });
        });
    
        var salesData = <%- JSON.stringify(salesData) %>;
        var productsChartData = <%- JSON.stringify(productsChartData) %>;
        var categoriesChartData = <%- JSON.stringify(categoriesChartData) %>;
    
        var ctx = document.getElementById('salesChart').getContext('2d');
        var salesChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: salesData.yearly.labels,
            datasets: [{
              label: 'Sales',
              data: salesData.yearly.data,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              borderSkipped: false,
              hoverBackgroundColor: 'rgba(75, 192, 192, 0.4)',
              hoverBorderColor: 'rgba(75, 192, 192, 1)',
              hoverBorderWidth: 2
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
                ticks: {
                  color: '#000' // Dark black color for y-axis labels
                }
              },
              x: {
                ticks: {
                  color: '#000' // Dark black color for x-axis labels
                }
              }
            },
            plugins: {
              legend: {
                labels: {
                  color: '#000' // Dark black color for legend text
                }
              }
            }
          }
        });
    
        document.getElementById('chartFilter').addEventListener('change', function() {
          var filterValue = this.value;
    
          salesChart.data.labels = salesData[filterValue].labels;
          salesChart.data.datasets[0].data = salesData[filterValue].data;
          salesChart.update();
    
          bestSellingProductsChart.data.labels = productsChartData[filterValue].labels;
          bestSellingProductsChart.data.datasets[0].data = productsChartData[filterValue].data;
          bestSellingProductsChart.update();
    
          bestSellingCategoriesChart.data.labels = categoriesChartData[filterValue].labels;
          bestSellingCategoriesChart.data.datasets[0].data = categoriesChartData[filterValue].data;
          bestSellingCategoriesChart.update();
        });
              console.log('products chart data',productsChartData.yearly.labels)
        var ctxProducts = document.getElementById('bestSellingProductsChart').getContext('2d');
        var bestSellingProductsChart = new Chart(ctxProducts, {
          type: 'bar',
          data: {
            labels: productsChartData.yearly.labels,
            datasets: [{
              label: 'Top 10 Selling Products',
              data: productsChartData.yearly.data,
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1,
              borderSkipped: false,
              hoverBackgroundColor: 'rgba(255, 99, 132, 0.4)',
              hoverBorderColor: 'rgba(255, 99, 132, 1)',
              hoverBorderWidth: 2
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
                ticks: {
                  color: '#000' // Dark black color for y-axis labels
                }
              },
              x: {
               display:false
              }
            },
            plugins: {
              legend: {
                labels: {
                  color: '#000' // Dark black color for legend text
                }
              }
            }
          }
        });
        
    
        var ctxCategories = document.getElementById('bestSellingCategoriesChart').getContext('2d');
        var bestSellingCategoriesChart = new Chart(ctxCategories, {
          type: 'pie',
          data: {
            labels: categoriesChartData.yearly.labels,
            datasets: [{
              label: 'Categories',
              data: categoriesChartData.yearly.data,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
              ],
              borderWidth: 1,
              hoverBackgroundColor: [
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)'
              ],
              hoverBorderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
              ],
              hoverBorderWidth: 2
            }]
          },
          options: {
            plugins: {
              legend: {
                labels: {
                  color: '#000' // Dark black color for legend text
                }
              }
            }
          }
        });
      });
    </script>
    
    
  </div>
  <!-- Include Chart.js library -->
  <script src="/public/admin/js/jquery-3.3.1.min.js"></script>
  <script src="/public/admin/js/moment.min.js"></script>
  <script src="/public/admin/js/Chart.min.js"></script>
  <script src="/public/admin/js/bootstrap.min.js"></script>
  <script src="/public/admin/js/tooplate-scripts.js"></script>

 
</body>

</html>