<header class="header_section">
    <div class="container">
       <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html"><h4>NUTROMAX</h4></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Categories <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                   <%category.forEach((category) => {%>
                      
                      <li><a href="" style="color: black;"><%=category.categoryName%></a></li>
                   <%});%>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="product.html">Products</a>
                </li>
              
               
                 <!-- Account modal trigger -->
                 <li class="nav-item">
                   <a class="nav-link" href="#" id="accountModalTrigger">Account</a>
               </li>
               
               
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                </li> -->
                <li class="nav-item">
                  <form class="form-inline" action="/getCart">
                    <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"> 
                      <i class="fa badge fa-lg "  value=<%=productNumber%>>&#xf290;</i>
                    </button>
                  </form>
                </li>
              </ul>
              
                
              
              <li class="nav-item">
                <form class="form-inline" action="/search" method="GET">
                  <div class="input-group">
                    <input type="text" class="form-control" name="query" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-outline-secondary" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </form>
              </li>
             </ul>
          </div>
       </nav>
    </div>
 </header>
