<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/user/css/userLogin.css">
</head>
<body>
  <div class="login-box">
      <h2>Forgot Password</h2>
      <h5 style="color: white;">Enter your registered email to reset your password.</h5>
      <% if (error) { %>
        <p class="error-message"><%= error %></p>
      <% } %>
      
      <form name="forgotPasswordForm"  id="forgotPasswordForm"  >
        <div class="user-box">
          <input type="password" name="password">
          <label>Password</label>
          <span id="passwordError" class="error-message"></span>
        </div>
        <div class="user-box">
          <input type="password" name="confirmPassword">
          <label>Confirm Password</label>
          <span id="passwordError" class="error-message"></span>
        </div>
        <div id="BackendError" style="color:red;"></div>
        <button type="submit" id="submitBtn">
          
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
         
        </button>
      </form>
      
  </div>
  <script>
   document.addEventListener('DOMContentLoaded', function () {
  const forgotPasswordForm = document.getElementById('forgotPasswordForm');
  forgotPasswordForm.addEventListener('submit', function (event) {
    console.log('The change password form submitted');
    event.preventDefault();

    const formData = new FormData(this);
    const data = {};
    formData.forEach((value, key) => {
      data[key] = value;
    });

    fetch('/ConfirmNewPass', {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          document.getElementById('BackendError').innerText = data.error;
        } else {
          document.getElementById('BackendError').innerText = data.message;
        }
      })
      .catch(error => {
        document.getElementById('BackendError').innerText = 'An error occurred: ' + error.message;
      });
  });
});

  </script>
  <script src="/admin/js/userlogin.js"></script>
</body>
</html>
