<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/user/css/userLogin.css">
</head>
<body>
  <h2>NUTROMAX</h2>
  <div class="login-box">
      <h3>User Login</h3>
      <hr>
      <% if (error) { %>
        <p class="error-message"><%= error %></p>
      <% } %>
    
      <form name="loginForm" method="post" action="/postLogin" onsubmit="return formValidation()" >
        <div class="user-box">
          <input type="email" name="email">
          <label>Email</label>
          <span id="emailError" class="error-message"></span>
        </div>
        <div class="user-box">
          <input type="password" name="password">
          <label>Password</label>
          
          
        </div>
        
        <button type="submit" id="submitBtn">
          
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
         
        </button>
      </form>
      <div id="passwordError">
        <span  class="error-message"></span>
      </div>
     
      <div class="or-divider">or</div>
      <a href="/auth/google" id="google-signin-button">
        <button class="google-signin-button">
          <span class="google-icon"></span><span class="signIN">Log in with Google</span>
        </button>
      </a>
      <div class="forget">
        <a href="/forgotPassword">Forgot password?</a>
      </div>
      <div class="register">
        <p>Don't have an account? <a href="/getSignup/referralCode">Register</a></p>
      
      </div>
      
  </div>

<div id="loaderOverlay" class="loader-overlay">
  <div class="loader"></div>
</div>

  <script src="/admin/js/userlogin.js"></script>
</body>
</html>
